---
subtitle: Resume
---

.resume
  %section.top 
    .title Education
    %section.entity
      .title Ball State University
      %section.position
        .title Workplace Specialist Program
        .timeframe September 2014 - April 2015
        %ul
          %li Completed Workplace Specialist Licensure program
    %section.entity 
      .title Purdue University
      %section.position
        .title B.Sc. Computer Science
        .timeframe August 2009 - May 2013
        %ul
          %li Graduated with 3.3 overall & 3.4 major GPA
          %li Concentration in Security & minor in History
  %section.top
    .title Experience
    %section.entity
      .title West Lafayette Community School Corporation
      %section.position
        .title Computer/Information Technology Teacher
        .timeframe August 2014 - Present
        %ul
          %li I currently teach Computer Tech Support and Programming I
      %section.position
        .title Web Developer & Linux Admin
        .timeframe March 2011 - Present
        %ul
          %li My primary responsibilities are working with our faculty & staff to help them utilize technology, developing & supporting web applications, and keeping our Linux servers running smoothly.
          %li I also do the usual school IT things - maintaining & fixing our equipment, researching & implementing new technology systems, developing documentation & training materials, pulling cables around the building, replacing toner... there is no "normal day" for us.
      %section.position
        .title High School Robotics Sponsor
        .timeframe May 2015 - Present
        %ul
          %li I'm the sponsor & lead mentor for FIRST Robotics Competition Team 461, more commonly known as Westside Boiler Invasion
          %li I help coordinate activities for our 40-ish students, 8 college student mentors, and 5 other professional adult mentors.
      %section.position
        .title Robotics Team Mentor
        .timeframe 12/12 - Present
        %ul
          %li I work with the programming team to help them write code for the robots, website, and whatever else we need.
          %li I also work with our media team to help them produce graphics, photos, and videos for the team.
          %li I have worked with the FIRST Lego League teams in our corporation, and I help coordinate registration for those teams and our summer workshops.
          %li In 2014, I developed a Ruby Programming workshop to add on to our usual Lego Robotics summer program.  This year, we're expanding our offerings to include Web Design & Digital Electronics workshops.
      %section.position
        .title ZERO Robotics Sponsor
        .timeframe 9/14 - present
        %ul
          %li I supervise & provide gudiance for a team of students that participates in MIT's ZERO Robotics competition.
      %section.position
        .title Athletics Media & Technology Specialist
        .timeframe 8/13 - Present
        %ul
          %li I help our coaches & our other athletics staff find & implement technology solutions.
          %li I also write software to fill needs around the department.
          %li I run the scoreboard for the occasional football or basketball game, and I run & coordinate the content for our video displays in the gym.
    %section.entity
      .title Freelance Work
      %ul
        %li I do the occasional web design, graphic design, and photography gig.  I also have a couple of web sites that I maintain for people.
    %section.entity
      .title Purdue FIRST Programs
      %section.position
        .title Vice President
        .timeframe 12/12 - 5/13
        %ul
          %li I was in charge of managing all internal organization operations and served as the primary contact for anyone inside the organization.
          %li I oversaw the Regional Development, Public Relations, and Information Technology directory & their subteams.
          %li As second in command of the organization, I helped set & maintain the organization's mission & vision.
          %li I also lead a charge to completely rewrite the organization constitution and bylaws.
      %section.position
        .title Director of Junior Robotics
        .timeframe 1/11 - 12/12
        %ul
          %li I was in charge of a group of college student mentors for local FIRST Lego League teams.
          %li I provided guidance for our Regional Development team to help them run our annual FLL Qualifying Tournament and our spring off-season competitions.
          %li As a member of the executive board, I helped make decisions & guide the organization as a whole.
      %section.position
        .title Junior Robotics Mentor
        .timeframe 8/09 - 12/12
        %ul
          %li I helped teams of middle & junior high students build and program Lego Mindstorms-based robots to compete in FLL competitions.
    %section.entity
      .title Information Technology at Purdue
      %section.position
        .title Digital Learning Collaboratory Lab Assistant
        .timeframe 1/11 - 3/11
        %ul
          %li I maintained & provided support for a specially designed computer lab for collaborative multimedia projects.
      %section.position
        .title Computer Lab Assistant
        .timeframe 12/09 - 1/11
        %ul
          %li I provided tech support and performed basic maintenance in computer labs all over campus.
    %section.entity
      .title Wireless Internet for Illiana
      %section.position
        .title Computer & Network Tech
        .timeframe 7/08 - 8/09
        %ul
          %li I performed routine maintenance & upgrades for customer computers and supported our wireless internet service.
          %li I also designed & implemented an active network monitoring system with Mikrotik's The Dude software.
    %section.entity
      .title Purdue CRU
      %section.position
        .title AV Team
        .timeframe 1/11 - 4/13
        %ul
          %li I helped unload, set up, run, tear down, and pack up our AV equipment for weekly worship services.
    %section.entity
      .title First Baptist Church of Shelburn
      %section.position
        .title AV Team
        .timeframe 3/05 - 8/09
        %ul
          %li I operated sound, light, and computer equipment for a variety of church events.

  %section.top
    .title Skills & Interests
    %ul
      %li As far as my formal studies in computer science go, I'm primarily interested in secure communication, anonymity, access control, physical security, and distributed systems.
      %li I'm functionally fluent in something like 10 programming languages.  At this point, I work mostly in Ruby (on Rails).  I'll also happily work with C, C++, or C#.
      %li I'm also quite competent when it comes to HTML, CSS, and JS.
      %li I like Linux - primarily Debian & Debian derivatives.  
      %li I'm also content to work in Windows 7 or 8 environments, and I'm capable of messing around with Active Directory & Group Policy when the need arises.
      %li I also have experience working with VMWare, Xen, and HyperV.
